<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <span style="color: aqua;"> Hi World I'm Ahryxx. I'm a full stack developer. I'm a student at Duy Tan University.
        I'm studying
        Information Technology</span>
</body>

</html>